body {
    font-family: Arial, sans-serif;
    background-color: #dad8d8;
}


.titulo {
    display: flex;
    justify-content: center;
    background-color: white;
}


.feed {
    width: 600px;
    margin: auto;
    background-color: white;
    padding: 5px;
    margin-top: 5px;
}


.card-user-info {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
}

.icon-html5{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.fa-brands{
    font-size: 2.5rem;
}
.name-post{
    display: inline-block;
}
.icon-list{
    display: flex;
    justify-content: flex-end;
}

.fa-solid{
    font-size: 2rem;
}

.post {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.img-post{
    width: 100%;
    gap: 1rem;
    background-size: cover;  
}

.icon-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    font-size: 2rem;
}

.icon-action {
justify-content: flex-end;
}

.cars-text {
    padding: 0 1rem;
}